<section>
    <div class="icon_estudando"><img src="assets/imagens/Icone_lendo.png" alt=""></div>
    <div>
        <div class="container">
            <h1>Cadastre-se</h1>
            <div class="campo">
              <div>
                <label for="text">Nome</label>
                <input placeholder="Digite seu Nome" type="text">
              </div>

              <div>
                <label for="email">E-mail</label>
                <input placeholder="Digite seu E-mail" type="email">
              </div>

              <div class="input-container">
                <label for="password">Senha</label>
              
                <div class="password-wrapper">
                  <input
                    class="pass"
                    [type]="visibilidadeSenha ? 'text' : 'password'"
                    name="password"
                    id="password"
                    maxlength="40" 
                    placeholder="Digite sua senha"
                  >
                  <img 
                    class="toggle-visibility"
                    [src]="visibilidadeSenha ? 'assets/imagens/eye_open.png' : 'assets/imagens/eye_close.png'"
                    (click)="mostrarSenha()"
                    alt="Toggle visibility"
                  >
                </div>
              </div>
              
              <div class="input-container">
                <label for="password">Confirmação de Senha</label>
              
                <div class="password-wrapper">
                  <input
                    class="pass"
                    [type]="visibilidadeSenha ? 'text' : 'password'"
                    name="password"
                    id="password"
                    maxlength="40" 
                    placeholder="Digite sua senha"
                  >
                  <img 
                    class="toggle-visibility"
                    [src]="visibilidadeSenha ? 'assets/imagens/eye_open.png' : 'assets/imagens/eye_close.png'"
                    (click)="mostrarSenha()"
                    alt="Toggle visibility"
                  >
                </div>
              </div>

              <button routerLink="/">Cadastrar</button>

              <p>Possui conta? <a routerLink="/">Entrar</a></p>
            </div>
        </div>
    </div>
</section>