<section>
    <div class="icon_estudando"><img src="assets/imagens/Icone_lendo.png" alt=""></div>
    <div>
        <div class="container">
            <h1>Cadastre-se</h1>
            <div class="campo">
              <div>
                <label for="text">Nome</label>
                <input placeholder="Digite seu Nome" type="text">
              </div>

              <div>
                <label for="email">E-mail</label>
                <input placeholder="Digite seu E-mail" type="email">
              </div>

              <div>
                <label for="password">Senha</label>
                <input placeholder="Digite sua senha" type="password">
              </div>
              
              <div>
                <label for="password">Confirmação de Senha</label>
                <input placeholder="Digite Novamente" type="password">
              </div>

              <button routerLink="/">Cadastrar</button>

              <p>Possui conta? <a routerLink="/">Entrar</a></p>
            </div>
        </div>
    </div>
</section>