<section>
    <div class="icon_estudando"><img src="assets/imagens/icon_estudando.png" alt=""></div>
    <div>
        <div class="container">
            <img src="assets/imagens/logo_grande.png" alt="">
            <h1>Guia do Mochileiro<br>Fatecano</h1>
            <div class="campo">
              <div>
                <label for="email">E-mail</label>
                <input placeholder="Digite seu e-mail" type="email">
              </div>

              <div class="input-container">
                <label for="password">Senha</label>
              
                <div class="password-wrapper">
                  <input
                    class="pass"
                    [type]="visibilidadeSenha ? 'text' : 'password'"
                    name="password"
                    id="password"
                    maxlength="40" 
                    placeholder="Digite sua senha"
                  >
                  <img 
                    class="toggle-visibility"
                    [src]="visibilidadeSenha ? 'assets/imagens/eye_open.png' : 'assets/imagens/eye_close.png'"
                    (click)="mostrarSenha()"
                    alt="Toggle visibility"
                  >
                </div>
              </div>
              

              <button routerLink="home">Entrar</button>

              <p>Ainda não possui conta? <a routerLink="register">Cadastrar-se</a></p>
            </div>
        </div>
    </div>
</section>